@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Common Styles */
html {
  font-size: 16px;
}

.container-size {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar Started */
header {
  background-color: #1a0b2e;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-logo .color-white {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.nav-logo .color-linear {
  font-size: 2rem;
  font-weight: 800;
  background: linear-gradient(
    to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu-items {
  display: flex;
  gap: 32px;
}

.menu-items li {
  list-style: none;
}
.menu-items li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.my-button .btn-1 {
  background: linear-gradient(
    to top right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 16px;
  border: none;
  border-radius: 625rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

#nav-bars-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* banner start */

.hero {
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 93px;
}
.hero-circle {
  height: 350px;
  width: 350px;
  background-image: url("../assets/hero-circle.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-circle img {
  width: 116px;
}
.hero-content {
  margin-top: 40px;
  text-align: center;
}
.hero-content h2 {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
}

.hero-content p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 8px;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 8px;
}

.hero-buttons .btn-1 {
  background: linear-gradient(
    to top right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 20px;
  border: none;
  border-radius: 625rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.hero-buttons .btn-2 {
  background-color: #00ff8800;
  padding: 12px 20px;
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 625rem;
  color: #00ff88;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.badge {
  background-color: #00ff88;
  padding: 8px 16px;
  border: none;
  border-radius: 625rem;
  color: #1a0b2e;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: absolute;
  top: 6%;
  right: 5%;

  animation: zoom-in-zoom-out 1.5s infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* About Section Start */
.about-section {
  background-color: #1a0b2e;
}

.about-content {
  text-align: center;
}
.about-content h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  padding-top: 50px;
}

.about-content p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 16px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 80px;
}

.about-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 80px;
  margin-top: 80px;
  padding-bottom: 120px;
}
.statistics-items h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #00ff88;
  text-align: center;
}
.statistics-items p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 16px;
}
.about-star i {
  font-size: 2rem;
}

/* Why-Choose-TechWave-section  */

.why-choose-section {
  background-color: #230e3d;
}
.why-techwave {
  padding-top: 120px;
  padding-bottom: 120px;
}
.why-techwave h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.audio {
  grid-area: audio;
}

.mobile {
  grid-area: mobile;
}

.global {
  grid-area: global;
}

.interview {
  grid-area: interview;
}

.resource {
  grid-area: resource;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "interview interview resource";
  gap: 30px;
  margin-top: 40px;
}
.card-big {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 107px 40px;
}

.card-big h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 16px;
}

.card-big p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 16px;
}

.card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}

.card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 16px;
}

.card p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 16px;
}

/* Featured Episode  */

.featured-section {
  background-color: #1a0b2e;
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.feature-card {
  width: 380px;
  height: 440px;
  background-color: #250d44;
  border-radius: 24px;
  margin-top: 40px;
}
.feature-content {
  padding: 24px;
}
.feature-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.feature-content p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
}

.duration {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  color: #00ff88;
  margin-top: 12px;
}

.video-link {
  position: relative;
  width: 100%;
  aspect-ratio: 16 /9;
  border-radius: 24px 24px 0px 0px;
  overflow: hidden;
}

.video-link iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* Host-Section */
.host-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 120px;
}

.host-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
}
.host-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.host-info h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.host-info p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
}

.social-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(83, 60, 114, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 20px;
  height: 20px;
}

/* Footer Section */

.footer-container {
  height: 412px;
  background-image: url(../assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px;
}
.footer-logo {
  text-align: center;
}
.footer-logo img {
  height: 60px;
  width: 410px;
}
.footer-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 40px;
}
.footer-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-icons img {
  height: 20px;
  width: 20px;
}

.footer-icons span {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.copyright p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-top: 32px;
}

/* Responsiveness Code */

@media screen and (max-width: 576px) {
  /* Nav-bar */

  header {
    padding-top: 0;
  }
  .navbar {
    max-width: 400px;
    padding: 18px 20px;
  }
  .menu-items {
    display: none;
  }
  .my-button {
    display: none;
  }
  #nav-bars-icon {
    color: #ffffff;
    display: block;
  }

  /* hero banner section */
  .hero {
    height: 466px;
    background-size: 100% 100%;
  }
  .hero-container {
    padding-top: 40px;
  }
  .hero-circle {
    height: 200px;
    width: 200px;
  }
  .hero-circle img {
    width: 47px;
  }
  .hero-content {
    margin-top: 0;
  }
  .hero-content h2 {
    font-size: 2.5rem;
    margin-top: 24px;
  }
  .hero-content p {
    font-size: 1.04rem;
  }
  .badge {
    width: 70px;
    height: 35px;
    right: -3%;
    top: 2%;
  }

  /* About-Section */
  .about {
    padding: 20px 20px;
  }
  .about-content h2 {
    font-size: 2rem;
    padding-top: 0px;
  }
  hr {
    margin-top: 40px;
  }
  .about-item {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .statistics-items h2 {
    font-size: 2.5rem;
  }
  .statistics-items p {
    font-size: 0.85rem;
  }
  .about-star i {
    font-size: 2.5rem;
  }

  /* Why Choose-section */

  .why-techwave {
    padding: 40px 20px;
  }
  .why-techwave h2 {
    font-size: 2rem;
  }
  .grid-container {
    grid-template-columns: 1fr;

    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "interview"
      "resource";
    margin-top: 16px;
  }
  .card-big {
    padding: 24px;
  }
  .card-big h4 {
    font-size: 1.375rem;
  }
  .card h4 {
    font-size: 1.375rem;
  }

  /* Featured Episode  */

  /* Host-Section */

  .host-title {
    font-size: 2rem;
    margin-top: 60px;
  }
  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 24px;
    margin-top: 24px;
  }
  .host-image img {
    height: 150px;
    width: 150px;
  }
  .host-info h3 {
    font-size: 1.5rem;
  }
  .social-icons {
    justify-content: center;
  }
}
