*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  color: white;
}
.logo h2{
  font-size: 40px;
}
.color-purple{
    color:#9100F8;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    
}
nav .menu a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.btn{
    background: linear-gradient(
    to right,
    #ff3cac,
    #ffb347,
    #ffe259
  );
  border-radius: 45px;
  padding:16px 15px ;
  font-size: 16px;
}
header{
    background-color: #1A0B2E;
    padding-top: 36.5px;
}


nav{
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}